.container {
  @apply flex-1;
  @apply flex flex-col;
  @apply px-24 py-16;

  & header {
    @apply text-right text-sm;
    @apply uppercase;

    letter-spacing: 0.15em;
    word-spacing: 0.15em;

    & li {
      @apply inline-block;

      & + li {
        @apply ml-5;
      }
    }

    & a {
      @apply font-medium;
      @apply py-0.5;
      @apply relative;

      &::after {
        @apply absolute left-0 bottom-0;
        @apply transition duration-200 ease-in-out;
        @apply transform-gpu scale-x-0;

        content: '';
        height: 2px;
        width: calc(100% - 2px);
        background-color: #191818;
        transform-origin: 100% 50%;
      }

      &:hover {
        &::after {
          @apply scale-x-100;

          transform-origin: 0 50%;
        }
      }
    }
  }

  & main {
    @apply flex-1;
    @apply my-32;

    & .logo {
      @apply mb-20;
    }
  }

  & footer {
    @apply mt-8;
    @apply text-right;
  }
}
