.container {
  @apply flex-1;
  @apply flex flex-col;
  @apply px-20 py-16;

  & header {
    @apply flex justify-between;

    & .logo {
      @apply w-full;

      max-width: 120px;
    }

    & nav a {
      &:hover {
        @apply underline;
      }
    }
  }

  & main {
    @apply flex-1;
    @apply mt-24;

    & .chart {
      @apply overflow-x-auto whitespace-nowrap;

      scroll-snap-type: x mandatory;

      & img {
        @apply inline-block;
        @apply m-4;
        @apply border border-dotted border-black;

        scroll-snap-align: start;
      }
    }
  }

  & footer {
    @apply mt-8;
    @apply text-right;
  }
}
