@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

.container {
  @apply flex-1;
  @apply flex flex-col;
  @apply px-20 py-16;

  @media (max-width: 768px) {
    @apply px-12 py-10;
  }

  @media (max-width: 640px) {
    @apply px-6 py-8;
  }

  & header {
    & nav {
      @apply flex justify-between;

      & .logo {
        @apply w-full;

        max-width: 120px;
      }

      & a {
        &:hover {
          @apply underline;
        }
      }
    }

    & .scroller {
      @apply relative;
      @apply mt-8;
      @apply border border-black border-l-0 border-r-0;
      @apply overflow-hidden whitespace-nowrap;
      @apply text-sm;
      @apply transform-gpu;

      & ul {
        @apply inline-block;
        @apply transform-gpu;

        animation: scroll 40s linear infinite 2s;

        &:hover {
          animation-play-state: paused;
        }
      }

      & li {
        @apply transform-gpu;
        @apply inline-block;
        @apply py-2 px-2.5;
      }
    }
  }

  & main {
    @apply flex-1;

    & .exchangeNetFlow {
      @apply mt-6 mb-6;
      @apply text-sm text-center;

      & li {
        @apply inline-block;
        @apply mt-2 px-3;
      }
    }

    @media (max-width: 768px) {
      @apply mt-10;
    }

    @media (max-width: 640px) {
      @apply mt-6;
    }

    & .charts {
      @apply overflow-x-auto whitespace-nowrap;

      scroll-snap-type: x mandatory;

      & img {
        @apply inline-block;
        @apply m-4;
        @apply border border-dotted border-black;

        scroll-snap-align: start;
      }
    }
  }

  & footer {
    @apply mt-8;
    @apply text-right;
  }
}
