.container {
  @apply text-sm;

  & .baseUrl {
    @apply mt-4;
  }

  & .docs {
    @apply mt-4;

    & > li {
      @apply mb-2;
      @apply border-2 border-tint-dark p-1;
      @apply rounded-lg;
      @apply cursor-pointer;

      & .summary {
        @apply flex items-center;
        @apply pointer-events-none;
      }

      & .content {
        @apply hidden;
        @apply -mx-1.5 px-2 mt-1.5 pt-1.5;
        @apply border-t border-tint-light  border-opacity-10;
      }

      & .params {
        @apply mt-1;
      }

      & span {
        @apply inline-block;
        @apply leading-tight;
        @apply whitespace-nowrap;
      }

      & .method {
        @apply font-semibold font-mono;
        @apply bg-tint-dark;
        @apply p-1 px-3;
        @apply rounded;
        @apply mr-2;

        @apply text-tint-light;
      }

      & .path {
        @apply font-semibold font-mono;
        @apply mr-2;
      }

      & .description {
        @apply truncate;
      }

      &:hover,
      &:focus {
        @apply bg-tint-dark;
        @apply text-tint-light;

        & .method {
          @apply text-tint-dark;
          @apply bg-tint-light;
        }
      }

      &:focus {
        & .content {
          @apply block;
        }

        & .description {
          @apply hidden;
        }
      }
    }
  }
}
