.container {
  @apply grid gap-y-4 gap-x-0 grid-cols-3;
  @apply -mx-2;

  @media (max-width: 1024px) {
    @apply block;
    @apply overflow-x-auto whitespace-nowrap;

    scroll-snap-type: x mandatory;
  }

  & .link {
    @apply inline-block;
    @apply relative;
    @apply mx-2;

    scroll-snap-align: center;

    @media (min-width: 1024px) {
      &:last-child {
        @apply hidden;
      }
    }
  }

  & img {
    @apply inline-block;
    @apply border border-tint-dark;

    &.new {
      @apply border-transparent;
      @apply absolute inset-0;
      @apply z-10;
    }
  }
}
