/* stylelint-disable selector-id-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;

  background-color: #fef9f3;
  color: #191818;
  scroll-behavior: smooth;
}

html,
body,
#__next {
  @apply min-h-full h-full;
}

#__next {
  @apply h-auto;
  @apply flex flex-col;

  & a {
    @apply inline-block;
  }
}
