@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

.container {
  & nav {
    @apply flex justify-between;

    & .logo {
      @apply w-full;

      max-width: 120px;
    }

    & ul > li {
      @apply relative z-50;

      @media (max-width: 540px) {
        @apply static;
      }

      & a {
        @apply inline-block align-middle whitespace-nowrap;
        @apply py-1.5 px-3;
        @apply border border-solid border-tint-secondary;
        @apply text-sm font-bold;
        @apply cursor-pointer;

        & svg {
          @apply text-xl inline-block;
          @apply -mt-0.5 mr-2;
        }
      }

      & ul {
        @apply absolute top-8 right-0 z-50;
        @apply hidden;
        @apply bg-tint-secondary;
        @apply py-3;

        @media (max-width: 540px) {
          @apply fixed inset-0;
          @apply py-8;
        }

        & li {
          @apply block;
        }
      }

      &:hover {
        @media (min-width: 540px) {
          @apply bg-tint-secondary;

          & > a {
            @apply text-tint-primary;
          }
        }

        & ul {
          @apply inline-block;

          & a {
            @apply text-tint-primary;
          }

          @media (max-width: 540px) {
            @apply hidden;

            &.showSubMenu {
              @apply inline-block;
            }
          }
        }
      }

      & ul .closeButton {
        @apply text-right;
        @apply text-2xl;
        @apply -mt-8;

        & button {
          @apply text-tint-primary;
          @apply p-4;
        }

        @media (min-width: 540px) {
          @apply hidden;
        }
      }

      & ul .dropdownHeading {
        @apply font-semibold text-xs uppercase;
        @apply mt-5 mb-2 ml-6;

        @apply text-tint-primary;

        @media (max-width: 540px) {
          @apply m-0 p-2 pl-7;
          @apply leading-none;
          @apply bg-tint-primary bg-opacity-5;
        }
      }

      & ul .closeButton + .dropdownHeading {
        @apply mt-2;

        @media (max-width: 540px) {
          @apply -mt-1;
        }
      }

      & ul .dropdownLink {
        @apply border-tint-secondary border-t-0 border-b-0 border-r-0;

        border-left-width: 4px;

        @media (max-width: 540px) {
          @apply my-1;
        }

        @media (min-width: 540px) {
          &:hover {
            @apply border-tint-primary;
          }
        }

        & a {
          @apply border-0;
          @apply font-normal;
          @apply block;
          @apply px-2 ml-3 mr-4;

          @media (max-width: 540px) {
            @apply py-2 px-3;

            border-bottom: 1px dotted rgb(255 255 255 / 15%);
          }

          &:hover {
            @apply underline;

            @media (min-width: 540px) {
              @apply text-tint-secondary;
              @apply bg-tint-primary;
            }
          }
        }

        &.last a {
          @media (max-width: 540px) {
            @apply border-b-0;
          }
        }
      }
    }
  }

  & .scroller {
    @apply relative;
    @apply mt-8;
    @apply border border-tint-secondary border-l-0 border-r-0;
    @apply overflow-hidden whitespace-nowrap;
    @apply text-sm;

    @media (max-width: 540px) {
      @apply mt-6;
    }

    & .coins {
      @apply inline-block;

      will-change: transform;
      animation: scroll 80s linear infinite 3s;

      &:hover {
        animation-play-state: paused;
      }
    }

    & .coin {
      @apply inline-block;
      @apply py-2 px-2;

      @media (max-width: 540px) {
        @apply px-1.5 py-1.5;
      }

      & span {
        @apply inline-block;

        font-variant-numeric: tabular-nums;

        /* &.arrowUp {
          @apply text-green-600;
        }

        &.arrowDown {
          @apply text-red-600;
        }

        &.percentageUp,
        &.valueUp {
          @apply bg-green-100;
        }

        &.percentageDown,
        &.valueDown {
          @apply bg-red-100;
        } */
      }
    }
  }
}
