@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

.container {
  & nav {
    @apply flex justify-between;

    & .logo {
      @apply w-full;

      max-width: 120px;
    }

    & ul > li {
      @apply relative z-50;

      & a {
        @apply inline-block align-middle whitespace-nowrap;
        @apply py-1.5 px-4;
        @apply border border-solid border-black;
        @apply text-sm font-bold;
        @apply cursor-pointer;

        & svg {
          @apply text-xl inline-block;
          @apply -mt-0.5 mr-2;
        }
      }

      & ul {
        @apply absolute top-8 right-0 z-50;
        @apply hidden;
        @apply bg-black;
        @apply py-2;
        @apply text-right;

        & li {
          @apply block;
        }
      }

      &:hover {
        @apply bg-black;

        & ul {
          @apply inline-block;
        }

        & a {
          color: #fef9f3;
        }
      }

      & ul .dropdownLink a {
        @apply font-normal;
        @apply block;

        border-right-width: 4px;

        &:hover {
          @apply underline;

          border-right-color: #fef9f3;
        }
      }
    }
  }

  & .scroller {
    @apply relative;
    @apply mt-8;
    @apply border border-black border-l-0 border-r-0;
    @apply overflow-hidden whitespace-nowrap;
    @apply text-sm;
    @apply transform-gpu;

    & .coins {
      @apply inline-block;
      @apply transform-gpu;

      animation: scroll 40s linear infinite 2s;

      &:hover {
        animation-play-state: paused;
      }
    }

    & .coin {
      @apply transform-gpu;
      @apply inline-block;
      @apply py-2 px-2.5;

      & span {
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
