@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

.container {
  & nav {
    @apply flex justify-between;

    & .logo {
      @apply w-full;

      max-width: 120px;
    }

    & ul > li {
      @apply relative z-50;

      @media (max-width: 540px) {
        @apply static;
      }

      & a {
        @apply inline-block align-middle whitespace-nowrap;
        @apply py-1.5 px-4;
        @apply border border-solid border-tint-dark;
        @apply text-sm font-bold;
        @apply cursor-pointer;

        & svg {
          @apply text-xl inline-block;
          @apply -mt-0.5 mr-2;
        }
      }

      & ul {
        @apply absolute top-8 right-0 z-50;
        @apply hidden;
        @apply bg-tint-dark;
        @apply py-3;

        @media (max-width: 540px) {
          @apply fixed inset-0;
          @apply py-8;
        }

        & li {
          @apply block;
        }
      }

      &:hover {
        @media (min-width: 540px) {
          @apply bg-tint-dark;

          & > a {
            @apply text-tint-light;
          }
        }

        & ul {
          @apply inline-block;

          & a {
            @apply text-tint-light;
          }

          @media (max-width: 540px) {
            @apply hidden;

            &.showSubMenu {
              @apply inline-block;
            }
          }
        }
      }

      & ul .closeButton {
        @apply text-right;
        @apply text-2xl;
        @apply -mt-8;

        & button {
          @apply text-tint-light;
          @apply p-4;
        }

        @media (min-width: 540px) {
          @apply hidden;
        }
      }

      & ul .dropdownHeading {
        @apply font-semibold text-xs uppercase;
        @apply mt-5 mb-2 ml-6;

        @apply text-tint-light;

        @media (max-width: 540px) {
          @apply m-0 p-2 pl-7;
          @apply leading-none;
          @apply bg-white bg-opacity-5;
        }
      }

      & ul .closeButton + .dropdownHeading {
        @apply mt-2;

        @media (max-width: 540px) {
          @apply -mt-1;
        }
      }

      & ul .dropdownLink {
        @apply border-tint-dark border-t-0 border-b-0 border-r-0;

        border-left-width: 4px;

        @media (max-width: 540px) {
          @apply my-1;
        }

        @media (min-width: 540px) {
          &:hover {
            @apply border-tint-light;
          }
        }

        & a {
          @apply border-0;
          @apply font-normal;
          @apply block;
          @apply px-2 ml-3 mr-4;

          @media (max-width: 540px) {
            @apply py-2 px-3;

            border-bottom: 1px dotted rgb(255 255 255 / 15%);
          }

          &:hover {
            @apply underline;

            @media (min-width: 540px) {
              @apply text-tint-dark;
              @apply bg-tint-light;
            }
          }
        }

        &.last a {
          @media (max-width: 540px) {
            @apply border-b-0;
          }
        }
      }
    }
  }

  & .scroller {
    @apply relative;
    @apply mt-8;
    @apply border border-tint-dark border-l-0 border-r-0;
    @apply overflow-hidden whitespace-nowrap;
    @apply text-sm;
    @apply transform-gpu;

    @media (max-width: 540px) {
      @apply mt-6;
    }

    & .coins {
      @apply inline-block;
      @apply transform-gpu;

      animation: scroll 40s linear infinite 2s;

      &:hover {
        animation-play-state: paused;
      }
    }

    & .coin {
      @apply transform-gpu;
      @apply inline-block;
      @apply py-2 px-2;

      @media (max-width: 540px) {
        @apply px-1 py-1.5;
      }

      & span {
        @apply inline-block;

        font-variant-numeric: tabular-nums;
      }
    }
  }
}
