.container {
  @apply text-sm;
  @apply mb-6;
  @apply block;
  @apply overflow-x-auto whitespace-nowrap;

  scroll-snap-type: x mandatory;

  @media (max-width: 540px) {
    @apply mb-4;
  }

  & .entry {
    @apply mr-4;
    @apply inline-block;
    @apply border border-tint-dark;

    scroll-snap-align: start;

    @media (max-width: 540px) {
      @apply mr-3;
    }

    & .title {
      @apply block px-2 py-1;
      @apply bg-tint-dark text-tint-light;
    }

    & ul {
      @apply px-2 py-1;

      & li span {
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
