@keyframes scroll {
  100% {
    transform: translateX(-50%);
  }
}

.container {
  @apply overflow-hidden whitespace-nowrap;
  @apply text-sm leading-tight;
  @apply mb-6;
  @apply relative;
  @apply transform-gpu;

  @media (max-width: 540px) {
    @apply mb-4;
  }

  & .data {
    @apply inline-block;
    @apply transform-gpu;

    &.loaded {
      animation: scroll 40s linear infinite 6s;
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  & .coreData {
    @apply inline-block;

    & .entry {
      @apply inline-block;
      @apply border-l border-tint-dark;
      @apply mr-4;

      border-left-width: 5px;

      & > div {
        @apply border-t border-b border-tint-dark border-dotted;
        @apply py-1 px-1;
        @apply mx-1;
      }

      & .title {
        @apply block mb-1.5;
      }

      & ul {
        & li span {
          font-variant-numeric: tabular-nums;
        }
      }
    }
  }
}
