.container {
  @apply text-sm leading-tight;
  @apply mb-6;
  @apply block;
  @apply overflow-x-auto whitespace-nowrap;

  scroll-snap-type: x mandatory;

  @media (max-width: 540px) {
    @apply mb-4;
  }

  & .entry {
    @apply inline-block;
    @apply border-l border-tint-dark;
    @apply mr-2.5;

    border-left-width: 4px;
    scroll-snap-align: start;

    & > div {
      @apply border-t border-b border-tint-dark border-dotted;
      @apply py-1 px-2;
      @apply mx-1;
    }

    & .title {
      @apply block mb-1.5;
    }

    & ul {
      & li span {
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
