.container {
  @apply text-sm;
  @apply mb-6;
  @apply block;
  @apply overflow-x-auto whitespace-nowrap;

  scroll-snap-type: x mandatory;

  @media (max-width: 540px) {
    @apply mb-4;
  }

  & .entry {
    @apply mr-12;
    @apply inline-block;
    @apply border-l border-tint-dark;

    border-left-width: 4px;
    scroll-snap-align: start;

    @media (max-width: 768px) {
      @apply mr-6;
    }

    @media (max-width: 540px) {
      @apply mr-4;
    }

    & .title {
      @apply block px-2 py-0.5;
    }

    & ul {
      @apply px-2.5 py-0.5;

      & li span {
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
